@charset "UTF-8";

@use "../global" as g;

.swiper {
  max-width: 990px;
}

.swiper-wrapper {
  margin-top: 80px;
  margin-right: 80px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 24px; /* ボタンの幅 */
  height: 40px; /* ボタンの高さ */
  background-size: 24px 40px; /* 表示したいサイズ */
  transform: translateY(-50%);
  margin-top: 0;
}

/* 次ページボタンのスタイル */
.swiper-button-next {
 background-image: url(/img/angle-right-solid.svg);
}

/* 前ページボタンのスタイル */
.swiper-button-prev {
  background-image: url(/img/angle-left-solid.svg);
}

.swiper-button-prev:after,
.swiper-button-next:after {
 display: none;
}
/* 画像サイズ調整 */
.swiper-slide img {
  height: auto;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin: 0 0 0 10px !important;
  background: g.$color-primary-orange !important;
}

.swiper-pagination-bullet:first-child {
  margin: 0 !important;
}

