@charset "UTF-8";

@use "../global" as g;

.swiper {
  max-width: 990px;
}

.swiper-container {
  margin-top: 85px;
}
@include g.mq(pc) {
  .swiper-container {
    margin-top: 0;
  }

}
@include g.mq(tab) {
  .swiper-container {
    width: 140vw;
    position: relative;
    right: 22%;
  }

}

.swiper-wrapper {
@include g.mq(pc) {
  .swiper-wrapper {
    margin: 0;
  }
}
@include g.mq(tab) {
  .swiper-wrapper {
    height: 100vw !important;
  }
  
}
@include g.mq(tab) {
  .swiper-slide img {
    height: 130vw !important;
  }
}
}


// .swiper-button-prev,
// .swiper-button-next {
//   width: 24px; /* ボタンの幅 */
//   height: 40px; /* ボタンの高さ */
//   background-size: 24px 40px; /* 表示したいサイズ */
//   transform: translateY(-50%);
//   margin-top: 0;
// }

// /* 次ページボタンのスタイル */
// .swiper-button-next {
//  background-image: url(../img/angle-right-solid.svg);
// }

// /* 前ページボタンのスタイル */
// .swiper-button-prev {
//   background-image: url(../img/angle-left-solid.svg);
// }

// .swiper-button-prev:after,
// .swiper-button-next:after {
//  display: none;
// }

.swiper-slide img {
  height: auto;
  width: 100%;
  border-radius: 30px;
}
@include g.mq(pc) {
  .swiper-slide img {
    border-radius: 0px;
  }
}


.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin: 0 0 0 10px !important;
  background: g.$color-primary-orange !important;
}

.swiper-pagination-bullet:first-child {
  margin: 0 !important;
}

