
@charset "UTF-8";

@use "../global" as g;


#character {
  background: g.$color-primary-blue;
}


.character-inner {
  margin: 0 20px;
  background: g.$color-primary;
  display: grid;
 grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;

  .card {
    width: 300px;
    
    .card__title {
      text-align: left;
    }
    .card__text {
      text-align: left;
    }
  }
 
}

.card-left-img {
  background-image: url(../img/character-2-min.jpg);
    background-repeat:no-repeat; 
    width: 300px;
    height: 300px;
    transition: .3s;

}
.card-left-img:hover {
  background-image: url(../img/chara-hover1-min.jpg);
  transition: .3s;

}

.card-right-img {
  background-image: url(../img/character-3-min.jpg);
    background-repeat:no-repeat; 
    width: 300px;
    height: 300px;
    transition: .3s;

}
.card-right-img:hover {
  background-image: url(../img/chara-hover2-min.jpg);
  transition: .3s;

}


#character {
  .sec-title-ja {
    background: g.$color-primary;
    margin: 0 20px;

  }
  .sec-title-en {
    background: g.$color-primary;
    margin: 0 20px;

  }
}

.character-inner {
  .card {
    padding-bottom: 60px;
    
  }

  .card-left {
    margin-left: 90px;
  }
  .card-right {
    margin-right: 90px;
  }
  
 
 
}

@include g.mq(cara) {
  .character-inner {
    grid-template-columns: 1fr;

    .card-left {
      margin-left: 0;
    }
    .card-right {
      margin-right: 0;
    }
      
}
}

@include g.mq(sp) {

  .character-inner {

  .card-left {
    margin-left: 0;
    width: 200px;
  }
  .card-right {
    margin-right: 0;
    width: 200px;
  }
}
}


