@charset "UTF-8";

@use "../global" as g;

.l-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  padding: 85px 85px 0 85px;
  position: fixed;
  z-index: 2;

}


@include g.mq(pc) {
  .l-header {
    padding: 0;
  }
}
// @include g.mq(big) {
//   .l-header {
//     padding: 85px 85px 0 250px;
//   }
// }

@include g.mq(big) {
 
  .display-none {
    display: none;
  }
  
  .scroll-active {
    display: block;
    // animation: appear .5s ease;
    // transform: translateY(-70px);
    // z-index: -1;
  
  }
  
  .logo-active {
    display: block;
    animation: appear .5s ease;
    transform: translateY(-70px);
  }
  @keyframes appear {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}


