@charset "UTF-8";

@use "../global" as g;


.mv-inner {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
@include g.mq(pc) {
  .mv-inner {
  max-width: 1600px;
  margin: 0;
  width: 100%;
  }
}

.main-inner {
  width: 100%;
  padding: 0 20px;
  
}

