@charset "UTF-8";

@use "../global" as g;


  .c-sns-icons__list {
    display: flex;
  }

  .c-sns-icons__item {
    padding-right: 24px;
  }
  .c-sns-icons__item:last-child {
    padding-right: 0;
  }

  .c-sns-icons__list-sp {
    display: none;
  }

  @include g.mq(pc) {
    .header {

      .c-sns-icons__list {
        display: none;
      } 

    }
  
  }

  @include g.mq(pc) {
    .header {

     .c-sns-icons__list-sp {
    display: flex;
  }

  .c-sns-icons__item {
    display: inline-block;
  }
  .c-sns-icons__item:last-child {
    padding-right: 0;
  }

    }
  
  }
