@charset "UTF-8";

@use "../global" as g;

.header-logo {
  margin-bottom: 50px;

}

@include g.mq(pc) {
  .header-logo {
    display: none;
  
  }

}

.header-nav__sp-logo {
  display: none;

}

@include g.mq(pc) {
  .header-nav__sp-logo {
    display: block;
    margin-bottom: 40px;
  
  }

}

.header-nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  

  .header-nav__link {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    letter-spacing: 0.2em;
    font-weight: bold;
    transition-property: transform;/*アニメーションをtransformのプロパティのみ適用*/
    transition-duration: 0.3s;
    
  }

  .header-nav__link:hover {
    transform: translateX(-30%);
    color: g.$color-primary-orange;
    opacity: 1;
    

  }
 
  
}

@include g.mq(pc) {

  .header-nav__list {

    .header-nav__link {
      padding-bottom: 40px;
     
    }
    .header-nav__link:hover {
      transform: none;
  }
  }

}



.header-nav__link-ja {
  display: block;
  @include g.font-size(18);
  font-family: g.$fontAB;
}

@include g.mq(pc) {

  .header-nav__link-ja {
    @include g.font-size(20);
    letter-spacing: 0.2em;
  }


}

.header-nav__link-en {
  display: block;
  font-weight: 600;
  @include g.font-size(14);
  font-family: g.$fontBilo;
}

@include g.mq(pc) {

  .header-nav__link-en {
    @include g.font-size(14);
    letter-spacing: .2em;
  }


}