@charset "UTF-8";

$color-primary: #FFFFFF;
$color-primary-blue: rgb(223, 247, 250, 40%);
$color-primary-blue-sp: rgb(223, 247, 250);
$color-primary-orange: #FF4012;
$color-text: #313232;
$color-sp-menu: #83CCD2;
