@charset "UTF-8";

@use "../global" as g;


.top-bottom-container {
  width: 100%;
  position: relative;

  .cake-icon {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 1;
   
  }
}

@include g.mq(pc) {
  .top-bottom-container {
  
    .cake-icon {
     
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
     
    }
  }

}


    .chara-icon {
      display: block;
      text-align: right;
      padding-right: 179px;
  
    }

    @include g.mq(tab) {
      .chara-icon {

        padding: 0;
        text-align: center;
      }
    }




