@charset "UTF-8";

@use "../global" as g;


.top-bottom-container {
  position: relative;

  .cake-icon {
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 2;
   
  }
}
  
    .chara-icon {
      display: block;
      text-align: right;
      padding-right: 179px;
  
    }




