@charset "UTF-8";

@use "../global" as g;



.top-bottom-container {
  width: 100%;
  max-width: 1300px;
  height: 154px;
  // position: relative;
  margin: 0 auto;

  .scroll-down {
    display: block;
    text-align: center;
    position: absolute;
    top: 30px;
    left: 49%;
    color: g.$color-primary-orange;
    @include g.font-size(18);
    animation: move-y .5s infinite alternate ease-in-out;
  }

  @include g.mq(pc) {
    .scroll-down {
      position: static;
      padding-top: 28px;
    }

  }
  
  .scroll-down-text {
    font-weight: bold;
    color: g.$color-primary-orange;
    @include g.font-size(18);
    position: absolute;
    top: 76px;
    left: 49%;
  }

  @include g.mq(pc) {
    .scroll-down-text {
      position: static;
      display: block;
      text-align: center;
      padding-top: 6px;
    }

  }




}

@keyframes move-y {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }

}

@include g.mq(pc) {
  .top-bottom-container {
    height: 570px;
  }
}

